<script src="/script/musicplayer.js"></script>
<script src="/script/allfiles.js"></script>
<link rel="stylesheet" href="/css/allfiles.css">
<section id="main">
    <div class="link">Internal</div>
    <div class="contenar">
        <div id="files" class="files">

        </div>
    </div>
    <div class="imgview">
        <div class="load"></div>
        <a href="#close_icon" class="closebtn" onclick="closeImg()">
            <div class="close"></div>
        </a>
    </div>
</section>
<section id="music-player-replasement">
</section>
<section id="music-player">
    <div id="title">Play a song</div>
    <div id="artist">--</div>
    <div id="cover"><img src="/img/disk.svg" alt="" srcset=""></div>
    <div id="timer">
        <div id="left">00:00</div>
        <div id="right">00:00</div>
    </div>
    <div id="timeline"><input id="range" type="range" min="0" value="0"></div>
    <div id="buttons">
        <a href="#pvr" id="pvr"><img src="/img/pvr.jpg" alt="" srcset=""> </a>
        <a href="#playpause" id="playpus"><img src="/img/pause.jpg" alt="" srcset=""></a>
        <a href="#next" id="nex"><img src="/img/next.jpg" alt="" srcset=""></a>
    </div>
</section>
<div id="E404">
    You lost
</div>