<link rel="stylesheet" href="/css/home.css">
<section>
    <div class="taglines">
    <h1 class="tagline first">Play as you <span>want</span>.</h1>
    <h1 class="tagline scond">Play <span class="act">how</span> you <span>want</span>.</h1></div>
    <div class="botton">
        <a id="background" href="/explor"> Explor </a>
        <a id="text" href="/player">Connect</a>
    </div>
</section>
