<script src="./script/music.js"></script>
<link rel="stylesheet" href="/css/music.css">
<section>
    <video controls src="/content/arijit_singh_kabhi_yaadon_mein_aao_kabhi_khwabon_mein_palak_muchhal_2017.mp4"></video>
    <div class="title">
        <h1>Select what you want to see</h1>
    </div>
    <div class="songs list"></div>
</section>