<script src="/socket.io/socket.io.js"></script>
<script src="/script/player.js"></script>
<link rel="stylesheet" href="/css/player.css">
<section id="cn">
    <div>
        <h1>Connect your controlar</h1>
        <textarea readonly id="idno"></textarea>
    </div>
</section>

<section id="player">

</section>
<section id="waiting">
    <div class="wait"></div>
</section>

