section {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 78vh;
    &#cn{
        h1, #idno{
            text-align: center;
            padding: 10px;
            font-size: 30px;
        }
        #idno{
            resize: none;
            width: auto;
            height: 56.5px;
            display: block;
            background: #de6b44;
            box-shadow: inset 2px 3px 10px #403020a4;
            color: #fff;
            letter-spacing: 4px;
            // user-select: text;

            &::selection{
            // background: #de6b44;
            color: #999;

            }
        }
    }
}
#waiting{
    display: none;
    background: url("/img/playbackground.svg");
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

#player{
    display: none;
    video{
        display: none;
        width: 90%;
        height: auto;
    }
}